/* FADE-IN ON LOAD */
body {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity: 1; }
}
/* SHADOWS */
.bottom-shadow {
  -moz-box-shadow: 1px 2px 15px rgba(0,0,0,.42);
  -webkit-box-shadow: 1px 2px 15px rgba(0,0,0,.42);
  box-shadow: 1px 2px 15px rgba(0,0,0,.42);
}
/* HEADINGS */
h1 {
    line-height: 0.9;
}
/* LINK TEXT STYLE */
a:link {
    text-decoration: none;
    /*color: #0000EE;*/
    color: #242424;
    font-style: normal;
    word-wrap: break-word;
}
a:visited {
    /*color: #551A8B;*/
    color: #242424;
    font-weight: bold;
    word-wrap: break-word;
}
h2 a:link,
h2 a:visited {
    color: #242424;
}
ul {
    list-style-type: circle;
}
/* SPECIFIC COLORS */
.ms-access-color {
    color: #a5373a;
    font-weight: bold;
}
.udem-color {
    color: #0062b2;
}
.mcgill-color {
    color: #cd202c;
}
/* NAV BAR */
#nav-bar {
    width: 100%;
    height: 50px;
    background: #242424;
    color: white;
    position: fixed;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}
#nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}
#nav-bar-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    font-weight: bold;
    font-size: 111%;
}
#nav-bar-cv a {
    cursor: default;
    color: white;
}
#nav-bar-lightswitch img {
    border: solid 2px white;
    border-radius: 20px;
}
#nav-bar-menu {
    justify-content: flex-end;
    align-items: center;
    width: 70%;
}
#nav-bar-hamburger {
    display: none;
}
.nav-bar-menu-desktop {
    display: flex;
}
.nav-bar-item {
    margin-left: 5%;
    text-align: right;
}
.nav-bar-active {
    border-bottom: solid 2px white;
}
#nav-bar-mobile {
    display: none;
}
#nav-bar-mobile-menu {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 100%;
    background: #242424;
    z-index: -1;
}
.width-zero {
    width: 0%;
}
.width-seventy {
    width: 70%;
}
/* WRAPPER */
#wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 980px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    line-height: 160%;
    color: #242424;
    cursor: default;
}
.padding-top-100px {
    padding-top: 100px;
}
.padding-top-75px {
    padding-top: 75px;
}
/* HEADER */
#header {
    width: 30%;
    height: 100%;
}
#portrait-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#portrait {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}
#selfie-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
#selfie-img img {
    width: 90%;
    border-radius: 100%;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.42);
}
#self-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    font-weight: bold;
}
#self-description-text {
    width: 80%;
}
#hello {
    font-size: 125%;
}
#passions-type-erase {
    height: 15px;
}
/* SOCIAL CONTACT */
#social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
}
.section-container {
    padding-bottom: 10px;
}
.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 80%;
}
#social-content {
    width: 80%;
}
.social-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}
.social-icon {
    font-size: 155%;
    font-weight: normal;
    padding-right: 10px;
    width: 20px;
}
.social-text {
}
/* CONTENT */
#content {
    width: 70%;
    text-align: left;
    padding-left: 25px;
}
#main-page {
    width: 100%;
}
#side-page-blog {
    width: 100%;
}
#projects-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.projects-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 5px;
    font-size: 125%;
    outline: solid 2px #242424;
}
.projects-menu-active {
    background: #242424;
    color: white;
}
#projects-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-container {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 25px;
    border-top: solid 1px lightgrey;
}
.project-container-show {
    display: flex;
}
.project-container-hide {
    display: none;
}
.project-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-icon-box img {
    width: 130px;
    height: 130px;
}
.project-description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 25px;
    width: 75%;
}
.project-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.project-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 9px 3px 9px;
    background: #242424;
    border-radius: 5px;
    order: 99;
}
.project-link a {
    color: white;
    font-weight: normal;
}
.project-lang {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.project-lang-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
    color: #242424;
    font-size: 75%;
    font-weight: bold;
    margin-right: 10px;
    padding: 1px 7px 1px 7px;
    border: solid 2px #242424;
    border-radius: 5px;
}
.project-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
/* PUBLICATIONS */
#publications-content {
    color: #242424;
    text-align: left;
}
.publication-item {
    font-size: 90%;
}
.publication-title {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 10px;
}
.publication-authors {
    padding-bottom: 5px;
}
.publication-journal {
    font-style: italic;
    padding-bottom: 5px;
    color: grey;
}
.publication-link {
    background: #242424;
    padding: 2px 8px 3px 8px;
    border-radius: 3px;
    margin-left: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 90%;
    font-weight: bold;
}
.publication-link a {
    color: white;
}
.publication-date {
    color: grey;
    font-weight: bold;
}
#publication-4-hidden {
    display: none;
}
#publications-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 81%;
}
#publications-toggle-button {
    border: solid 1px #242424;
    padding: 0px 10px 0 10px;
}
/* BLOG */
.hidden {
    display: none;
}
#side-page {
}
#blog-content {
}
.blog-post {
}
.blog-post-separator {
    border-top: solid 1px lightgrey;
}
.blog-title {
    text-align: left;
}
.blog-keyword-container {
    display: none;  /* Temporarily removed */
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}
.blog-keyword {
    border-radius: 5px;
    padding: 1px 10px 1px 10px;
    font-size: 75%;
    margin-right: 5px;
    font-weight: bold;
    border: solid 1px #242424;
}
.blog-keyword-python {
    background: #3773A5;
    color: #FFD343;
}
.blog-keyword-java {
    background: #5382A1;
    color: #F8981D;
}
.blog-keyword-r {
    background: #2369BD;
    color: #BFC2C5;
}
.blog-keyword-msaccess {
    background: #A33639;
    color: #FFFFFF;
}
.blog-keyword-bitcoin {
    background: #EF9327;
    color: #FFFFFF;
}
.blog-reading-time {
    display: none;
    font-style: italic;
}
.blog-date {
    color: grey;
}
.blog-link {
    margin-bottom: 25px;
}
.blog-link a {
    padding: 4px 10px 4px 10px;
    background: #242424;
    color: white;
    border-radius: 5px;
    font-size: 81%;
    font-weight: normal;
}
#blog-table-of-content > ul {
    border: solid 2px #242424;
    border-radius: 5px;
    padding: 15px;
}
#blog-table-of-content li {
    margin-left: 20px;
    list-style-type: disc;
}
.blog-section {
    margin-bottom: 50px;
}
/* CODE SNIPPET */
pre {
    white-space: normal;
    margin-bottom: 2em;
}
code {
    background: rgba(0,0,0,.1);
    padding: 1px 5px;
    border-radius: 5px;
    color: #242424;
}
pre code {
    display: block;
    padding: 1.5em;
    overflow: auto;
    background: #242424;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.42);
    border-radius: 5px;
    color: white;
}
.code-note {
    padding: 15px;
    color: #89714a;
    background: #fdf8e4;
    border: solid 2px #f7f3d2;
    border-radius: 10px;
}
.code-line {
    width: 850px;
}
.code-tab-x1 {
    padding-left: 20px;
}
.code-tab-x2 {
    padding-left: 40px;
}
.code-tab-x3 {
    padding-left: 60px;
}
.code-comment {
    color: #616161;
}
.code-function {
    color: #82aaff;
}
.code-keyword {
    color: #c792ea;
}
.code-tag {
    color: #f07178;
}
.code-string {
    color: #c3e88d;
}
.code-operator {
    color: #89ddff;
}
.code-attribute {
    color: #ffcb6b;
}
.code-parameter {
    color: #f78c6c;
}
.blog-resource > ol > li {
    font-size: 90%;
}
.blog-resource > ol > li > a {
    color: #242424;
    font-weight: normal;
}
/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242424;
    margin-top: 25px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}
#footer-main-container {
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
    color: white;
    padding: 15px 0px 25px 0px;
}
#footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}
#footer-social a {
    color: white;
    font-weight: normal;
    padding: 15px;
}
#footer-sitemap {
    text-align: center;
    padding-bottom: 10px;
    display: none /* Enable if needed */
}
#footer-copyright {
    text-align: center;
}
#back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    right: 50px;
}
#back-to-top img {
    padding-left: 11px;
    height: 25px;
}
/* EXTERNAL BLOG */
#content-blog {
    width: 90%;
    text-align: left;
    padding-left: 0px;
}
/* BLOG: CRYPTOGRAPHY - CLASSICAL CIPHERS */
#crypt-shift-demo-1 {
    max-width: 880px;
    margin: 0 auto;
    border: solid 2px #242424;
}
.cryp-shift-row {
    font-size: 81%;
    white-space: nowrap; /* makes all your inner divs stay on the same line */
    overflow-x: auto;
    overflow-y: hidden;
}
.cryp-shift-row-title {
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 25px;
}
.cryp-shift-row-letter {
    text-align: center;
    display: inline-block;
    width: 28px;
    height: 25px;
}
.cryp-shift-demo-1-plain, .cryp-shift-demo-1-encrypt {
    outline: solid 1px #242424;
}
/* BLOG: PYTHON CHEAT SHEET STRINGS */
#python-string-slicing {
    max-width: 880px;
    margin: 1.5em 0px;
    border: solid 2px #242424;
}
.python-string-slicing-row {
    font-size: 81%;
    white-space: nowrap; /* makes all your inner divs stay on the same line */
    overflow-x: auto;
    overflow-y: hidden;
}
.python-string-slicing-row-title {
    text-align: center;
    display: inline-block;
    width: 173px;
    height: 25px;
}
.python-string-slicing-row-index {
    text-align: center;
    display: inline-block;
    width: 47px;
    height: 25px;
}
.python-string-slicing-string, .python-string-slicing-positive, .python-string-slicing-negative {
    outline: solid 1px #242424;
}